<div id="home-title">
<div>
  <h1>Systems Management:</h1>
</div>
<div class="btn-group" role="group" aria-label="Basic example" id="button-controls">
  <button type="button" class="btn btn-secondary"><a id="chgpass" href="/user/password/{{user.id}}"><i class="fas fa-key" title="Change Password"></i></a></button>
  <button type="button" class="btn btn-secondary"><a id="logout" href="/logout"><i class="fas fa-lock" title="Express Log Out"></i></a></button>
</div>
</div>

  <div class="system-container">
  {{#each hbsSystems}}
  <div class="system-card">
    <h2>{{this.name}}</h2>
  <ul>
    <li><strong>Description: </strong>{{this.description}}</li>
    <li><strong>Manufacturer: </strong><em>{{this.manufacturer}}</em></li>
    <li><strong>Created by: </strong>{{this.created_by}}</li>
  </ul>
  <div>
    <a href="/system/update/{{this._id}}"><i class="fas fa-edit" title="Edit {{this.name}}" style="color: black;"></i></a>
    <a href="/system/delete/{{this._id}}"><i class="fas fa-trash-alt" title="Delete {{this.name}}" style="color: black;"></i></a>
  </div>
  </div>
  {{/each}}
</div>