<h2>System Management</h2>
<div>
  {{#each hbsSystems}}
  <ul>
    <li><strong>Name: </strong>{{this.name}}</li>
    <li><strong>Description: </strong>{{this.description}}</li>
    <li><strong>Manufacturer: </strong><em>{{this.manufacturer}}</em></li>
    <li><strong>Created by: </strong>{{this.created_by}}</li>
  </ul>
  <div>
    <a href="/system/update/{{this._id}}">Edit</a> |
    <a href="/system/delete/{{this._id}}">Delete</a>
  </div>
  <hr>
  {{/each}}
</div>